/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

*{
	padding:0;
	margin:0;
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.centered-and-cropped {
  object-fit: cover;
}

/* .modal {
  overflow: inherit;
  overflow-y: inherit;
  text-align: center;
  padding: 0 0 0 0;
} */

/* .modal-content {
  border: 0 0 0 0;
  border-radius: 0;
} */

/* .modal-header {
  border: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
} */

.loadSpin {
  position: fixed;
  bottom: 50%;
  right: 50%;
  z-index: 4;
}

.modal-body {
  padding: 10px;
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: auto;
  display: table;
}

/* .modal-body .close {
  margin: 0;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background-color: #00aeef;
  color: #ffe300;
  font-size: 9px;
  opacity: 1;
  z-index: 10;
} */

/* .modal-footer {
  border: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
} */

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -5px;
}

.ribbon-red {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #a70a0a;
  background: linear-gradient(#c90d0d 0%, #a70a0a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-red:before,
.ribbon-red:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #a70a0a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #a70a0a;
}

/* @media (max-width: 992px) {
  .wrapper {
    margin: 20px auto;
    width: 100%;
    height: auto;
    position: relative;
  }
} */

.btn-bootstrap {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-bootstrap:hover {
  color: #fff;
  background-color: #70408f;
  border-color: #6d3a83;
}

.btn-bootstrap:focus,
.btn-bootstrap.focus {
  color: #fff;
  background-color: #70408f;
  border-color: #6d3a83;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-bootstrap.disabled,
.btn-bootstrap:disabled {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-bootstrap:not(:disabled):not(.disabled):active,
.btn-bootstrap:not(:disabled):not(.disabled).active,
.show > .btn-bootstrap.dropdown-toggle {
  color: #fff;
  background-color: #6d3a83;
  border-color: #6a3477;
}

.btn-bootstrap:not(:disabled):not(.disabled):active:focus,
.btn-bootstrap:not(:disabled):not(.disabled).active:focus,
.show > .btn-bootstrap.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-outline-bootstrap {
  color: #7952b3;
  border-color: #7952b3;
}

.btn-outline-bootstrap:hover {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-outline-bootstrap:focus,
.btn-outline-bootstrap.focus {
  box-shadow: 0 0 0 0.2rem rgba(121, 82, 179, 0.5);
}

.btn-outline-bootstrap.disabled,
.btn-outline-bootstrap:disabled {
  color: #7952b3;
  background-color: transparent;
}

.btn-outline-bootstrap:not(:disabled):not(.disabled):active,
.btn-outline-bootstrap:not(:disabled):not(.disabled).active,
.show > .btn-outline-bootstrap.dropdown-toggle {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-outline-bootstrap:not(:disabled):not(.disabled):active:focus,
.btn-outline-bootstrap:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-bootstrap.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(121, 82, 179, 0.5);
}
